<div>
    <h2>Employees</h2>
    <table class="table">
        <tr>
            <th>Employee Count </th>
            <td>
                <%= count %>
            </td>
        </tr>
        <tr>
            <th>Average Salary </th>
            <td>
                <%= currencyFormatter(averageSalary) %>
            </td>
        </tr>
    </table>
</div>