<div>
    <h2>Suppliers</h2>
    <table class='table-striped'>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        <% for(var i=0; i < suppliers.length; i++) { %>
            <tr>
                <td>
                    <%= suppliers[i].name %>
                </td>
                <td>
                    <%= currencyFormatter(suppliers[i].total) %>
                </td>
            </tr>
            <% } %>
    </table>

</div>